<section class="grid-container">
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h1>Colours</h1>
			<h2>Primary Colour Palette</h2>
			<p>The healthdirect colour palette is a primary expression of the brand and should always be used within all marketing and brand communications.</p>
			<p>Referencing contemporary Australian culture the healthdirect colour palette is warm, welcoming and approachable. The broad spectrum of complementary colours permits adaptability and flexibility across both digital and printed environments.</p>
		</div>
	</div>
	<div class="grid-row">
		<div class="palette-card">
			<div class="palette-teal-deep"></div>
			<div>
				<h4>Deep Teal</h4>
				<dl>
					<dt>HEX</dt>
					<dd>#1e4759</dd>
					<dt>RBG</dt>
					<dd>30, 71, 89</dd>
					<dt>CYMK</dt>
					<dd>100, 80, 63, 10</dd>
					<dt>PMS</dt>
					<dd>7477 C</dd>
					<dt>SASS</dt>
					<dd>$hda-teal-deep</dd>
				</dl>
			</div>
		</div>
		<div class="palette-card">
			<div class="palette-red"></div>
			<div>
				<h4>Red</h4>
				<dl>
					<dt>HEX</dt>
					<dd>#dc5556</dd>
					<dt>RBG</dt>
					<dd>220, 85, 86</dd>
					<dt>CYMK</dt>
					<dd>7, 82, 67, 0</dd>
					<dt>PMS</dt>
					<dd>710 C</dd>
					<dt>SASS</dt>
					<dd>$hda-red</dd>
				</dl>
			</div>
		</div>
		<div class="palette-card">
			<div class="palette-orange"></div>
			<div>
				<h4>Orange</h4>
				<dl>
					<dt>HEX</dt>
					<dd>#f2896f</dd>
					<dt>RBG</dt>
					<dd>242, 137, 111</dd>
					<dt>CYMK</dt>
					<dd>0, 57, 57, 0</dd>
					<dt>PMS</dt>
					<dd>1635 C</dd>
					<dt>SASS</dt>
					<dd>$hda-orange</dd>
				</dl>
			</div>
		</div>
		<div class="palette-card">
			<div class="palette-yellow"></div>
			<div>
				<h4>Yellow</h4>
				<dl>
					<dt>HEX</dt>
					<dd>#f5b672</dd>
					<dt>RBG</dt>
					<dd>245, 182, 114</dd>
					<dt>CYMK</dt>
					<dd>2, 31, 65, 0</dd>
					<dt>PMS</dt>
					<dd>149 C</dd>
					<dt>SASS</dt>
					<dd>$hda-yellow</dd>
				</dl>
			</div>
		</div>
		<div class="palette-card">
			<div class="palette-green"></div>
			<div>
				<h4>Green</h4>
				<dl>
					<dt>HEX</dt>
					<dd>#009f96</dd>
					<dt>RBG</dt>
					<dd>0, 159, 150</dd>
					<dt>CYMK</dt>
					<dd>82, 14, 47, 1</dd>
					<dt>PMS</dt>
					<dd>7712 C</dd>
					<dt>SASS</dt>
					<dd>$hda-green</dd>
				</dl>
			</div>
		</div>
	</div>
</section>
<section class="grid-container">
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h2>Secondary Colour Palettes</h2>
			<p>The Secondary Palette should be used as a guide for the tone of a color. We intend for the secondary palette to be ever evolving, offering an endless palette to choose from. The main use of the secondary palette is in the creation of icons and illustrations that will be used across the board to help demonstrate the core benefits of HDA products. We will also be using the secondary palette to create unique secondary brands for each one of  HDA's products. Percentage tints can be used of any of these colours.</p>

			<h3>Teal Grey</h3>
			<table>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;&nbsp;&nbsp;</th>
						<th>HEX</th>
						<th>RGB</th>
						<th>CYMK</th>
						<th>SASS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="palette-combo_teal-deep">Deep Teal</td>
						<td>&nbsp;</td>
						<td>#1e4759</td>
						<td>30, 71, 89</td>
						<td>100, 80, 63, 10</td>
						<td>$hda-teal-deep</td>
					</tr>
					<tr>
						<td class="palette-combo_teal-grey">Teal Grey</td>
						<td>&nbsp;</td>
						<td>#577581</td>
						<td>87, 117, 129</td>
						<td>70, 45, 40, 10</td>
						<td>$teal-grey</td>
					</tr>
					<tr>
						<td class="palette-combo_teal-grey-light">Teal Grey Light</td>
						<td>&nbsp;</td>
						<td>#79919b</td>
						<td>121, 145, 155</td>
						<td>56, 35, 33, 2</td>
						<td>$teal-grey-light</td>
					</tr>
					<tr>
						<td class="palette-combo_teal-grey-lighter">Teal Grey Lighter</td>
						<td>&nbsp;</td>
						<td>#d2dadd</td>
						<td>210, 218, 221</td>
						<td>16, 9, 9, 0</td>
						<td>$teal-grey-lighter</td>
					</tr>
					<tr>
						<td class="palette-combo_teal-grey-lightest">Teal Grey Lightest</td>
						<td>&nbsp;</td>
						<td>#e8ecee</td>
						<td>232, 236, 238</td>
						<td>8, 4, 4, 0</td>
						<td>$teal-grey-lightest</td>
					</tr>
				</tbody>
			</table>

			<h3>Greys</h3>
			<table>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;&nbsp;&nbsp;</th>
						<th>HEX</th>
						<th>RGB</th>
						<th>CYMK</th>
						<th>SASS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="palette-combo_grey-darkest">Grey Darkest</td>
						<td>&nbsp;</td>
						<td>#1a1a1a</td>
						<td>26, 26, 26</td>
						<td>73, 67, 65, 78</td>
						<td>$grey-darkest</td>
					</tr>
					<tr>
						<td class="palette-combo_grey-darker">Grey Darker</td>
						<td>&nbsp;</td>
						<td>#333333</td>
						<td>51, 51, 51</td>
						<td>69, 63, 62, 58</td>
						<td>$grey-darker</td>
					</tr>
					<tr>
						<td class="palette-combo_grey-dark">Grey Dark</td>
						<td>&nbsp;</td>
						<td>#666666</td>
						<td>102, 102, 102</td>
						<td>60, 51, 51, 20</td>
						<td>$grey-dark</td>
					</tr>
					<tr>
						<td class="palette-combo_grey">Grey</td>
						<td>&nbsp;</td>
						<td>#999999</td>
						<td>153, 153, 153</td>
						<td>43, 35, 35, 1</td>
						<td>$grey</td>
					</tr>
					<tr>
						<td class="palette-combo_grey-light">Grey Light</td>
						<td>&nbsp;</td>
						<td>#bfbfbf</td>
						<td>191, 191, 191</td>
						<td>25, 20, 20, 0</td>
						<td>$grey-light</td>
					</tr>
					<tr>
						<td class="palette-combo_grey-lighter">Grey Lighter</td>
						<td>&nbsp;</td>
						<td>#dadada</td>
						<td>218, 218, 218</td>
						<td>13, 10, 11, 0</td>
						<td>$grey-lighter</td>
					</tr>
					<tr>
						<td class="palette-combo_grey-lightest">Grey Lightest</td>
						<td>&nbsp;</td>
						<td>#eaeaea</td>
						<td>234, 234, 234</td>
						<td>7, 5, 5, 0</td>
						<td>$grey-lightest</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="grid-container">
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h2>Optional Colour Palette</h2>

			<h3>Flat UI</h3>
			<table>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;&nbsp;&nbsp;</th>
						<th>HEX</th>
						<th>RGB</th>
						<th>CYMK</th>
						<th>SASS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="palette-combo_peter-river">Peter River</td>
						<td>&nbsp;</td>
						<td>#3498db</td>
						<td>52, 152, 219</td>
						<td>71, 28, 0, 0</td>
						<td>$peter-river</td>
					</tr>
					<tr>
						<td class="palette-combo_turquoise">Turquoise</td>
						<td>&nbsp;</td>
						<td>#1abc9c</td>
						<td>26, 188, 156</td>
						<td>73, 0, 52, 0</td>
						<td>$turquoise</td>
					</tr>
					<tr>
						<td class="palette-combo_emerald">Emerald</td>
						<td>&nbsp;</td>
						<td>#2ecc71</td>
						<td>46, 204, 113</td>
						<td>68, 0, 77, 0</td>
						<td>$emerald</td>
					</tr>
					<tr>
						<td class="palette-combo_sun-flower">Sun Flower</td>
						<td>&nbsp;</td>
						<td>#f1c40f</td>
						<td>241, 196, 15</td>
						<td>6, 21, 100, 0</td>
						<td>$sun-flower</td>
					</tr>
					<tr>
						<td class="palette-combo_carrot">Carrot</td>
						<td>&nbsp;</td>
						<td>#e67e22</td>
						<td>230, 126, 34</td>
						<td>7, 61, 100, 1</td>
						<td>$carrot</td>
					</tr>
					<tr>
						<td class="palette-combo_alizarin">Alizarin</td>
						<td>&nbsp;</td>
						<td>#e74c3c</td>
						<td>231, 76, 60</td>
						<td>4, 86, 83, 1</td>
						<td>$alizarin</td>
					</tr>
					<tr>
						<td class="palette-combo_amethyst">Amethyst</td>
						<td>&nbsp;</td>
						<td>#9b59b6</td>
						<td>155, 89, 182</td>
						<td>46, 76, 0, 0</td>
						<td>$amethyst</td>
					</tr>
					<tr>
						<td colspan="6">Dark Variations</td>
					</tr>
					<tr>
						<td class="palette-combo_belize-hole">Belize Hole</td>
						<td>&nbsp;</td>
						<td>#2980b9</td>
						<td>41, 128, 185</td>
						<td>81, 42, 6, 0</td>
						<td>$belize-hole</td>
					</tr>
					<tr>
						<td class="palette-combo_green-sea">Green Sea</td>
						<td>&nbsp;</td>
						<td>#16a085</td>
						<td>22, 160, 133</td>
						<td>80, 13, 59, 1</td>
						<td>$green-sea</td>
					</tr>
					<tr>
						<td class="palette-combo_nephritis">Nephritis</td>
						<td>&nbsp;</td>
						<td>#27ae60</td>
						<td>39, 174, 96</td>
						<td>78, 3, 85, 0</td>
						<td>$nephritis</td>
					</tr>
					<tr>
						<td class="palette-combo_orange">Orange</td>
						<td>&nbsp;</td>
						<td>#f39c12</td>
						<td>243, 156, 18</td>
						<td>2, 44, 100, 0</td>
						<td>$orange</td>
					</tr>
					<tr>
						<td class="palette-combo_pumpkin">Pumpkin</td>
						<td>&nbsp;</td>
						<td>#d35400</td>
						<td>211, 84, 0</td>
						<td>12, 80, 100, 3</td>
						<td>$pumpkin</td>
					</tr>
					<tr>
						<td class="palette-combo_pomegranate">Pomegranate</td>
						<td>&nbsp;</td>
						<td>#c0392b</td>
						<td>192, 57, 43</td>
						<td>18, 91, 96, 7</td>
						<td>$pomegranate</td>
					</tr>
					<tr>
						<td class="palette-combo_wisteria">Wisteria</td>
						<td>&nbsp;</td>
						<td>#8e44ad</td>
						<td>142, 68, 173</td>
						<td>54, 84, 0, 0</td>
						<td>$wisteria</td>
					</tr>
					<tr>
						<td colspan="6">Additional</td>
					</tr>
					<tr>
						<td class="palette-combo_clouds">Clouds</td>
						<td>&nbsp;</td>
						<td>#ecf0f1</td>
						<td>236, 240, 241</td>
						<td>6, 2, 3, 0</td>
						<td>$clouds</td>
					</tr>
					<tr>
						<td class="palette-combo_silver">Silver</td>
						<td>&nbsp;</td>
						<td>#bdc3c7</td>
						<td>189, 195, 199</td>
						<td>26, 17, 17, 0</td>
						<td>$silver</td>
					</tr>
					<tr>
						<td class="palette-combo_concrete">Concrete</td>
						<td>&nbsp;</td>
						<td>#95a5a6</td>
						<td>149, 165, 166</td>
						<td>44, 27, 32, 1</td>
						<td>$concrete</td>
					</tr>
					<tr>
						<td class="palette-combo_asbestos">Asbestos</td>
						<td>&nbsp;</td>
						<td>#7f8c8d</td>
						<td>127, 140, 141</td>
						<td>53, 37, 40, 4</td>
						<td>$asbestos</td>
					</tr>
					<tr>
						<td class="palette-combo_wet-asphalt">Wet Asphalt</td>
						<td>&nbsp;</td>
						<td>#34495e</td>
						<td>52, 73, 94</td>
						<td>83, 66, 43, 29</td>
						<td>$wet-asphalt</td>
					</tr>
					<tr>
						<td class="palette-combo_midnight-blue">Midnight Blue</td>
						<td>&nbsp;</td>
						<td>#2c3e50</td>
						<td>44, 62, 80</td>
						<td>85, 68, 47, 39</td>
						<td>$midnight-blue</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="grid-container">
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h2>Colour Usage</h2>

			<p>The colour distribution bar is used to give a complete picture of the healthdirect colour palette, demonstrating how colours interact with each other and which colours should be used most frequently. Colours occupying the larger sections of the wheel should be used the most often.</p>

			<h3>HealthDirect Australia</h3>
			<p>Main corporate theme colour distribution</p>
			<section>
				<div class="color-bar_deep-teal"></div><div class="color-bar_red"></div><div class="color-bar_orange"></div><div class="color-bar_yellow"></div>
			</section>

			<h3>Fusion 2</h3>
			<p>Fusion 2 designs aim at making the theme more warm and friendly.</p>
			<section>
				<div class="color-bar_deep-teal_fus"></div><div class="color-bar_yellow_fus"></div><div class="color-bar_orange_fus"></div><div class="color-bar_red_fus"></div>
			</section>
		</div>
	</div>
</section>
