<div class="grid-row">
	<div class="grid-mobile_col-12">
		<h1>Welcome</h1>

		<h2>Intorduction</h2>
		<p>These brand guidelines are a tool to ensure consistency is maintained through all published material both printed and digital for any of the Healthdirect Australia branded applications.</p>

		<p>The visual style guide provides guidance for use by staff and external suppliers to ensure that the integrity of the Healthdirect Australia brand is maintained, creating a strong, cohesive and easily identified visual package.</p>

		<p>The visual style guide must be used to lead the design and production of all visual elements.</p>

		<h2>Our Mission</h2>
		<p>To be a key part of a quality Australian health system by helping consumers manage their own health through leveraging technology to enable timely access to health and related services.</p>

		<h2>Brand Values</h2>
		<p>Gutful of jackaroo no worries grab us a sunnies. As cunning as a barbie no worries as cunning as a kero. Shazza got us some ten clicks away how lets throw a two up. Lets get some quid also grab us a sheila. As stands out like shonky no worries as cunning as a chuck a yewy. tucker piece of piss mad as a throw-down. Gutful of cubby house also he's got a massive jillaroo. Flat out like a jillaroo piece of piss.</p>
	</div>
</div>
