<div class="container cf">
    <h2 class="text-center">AngularJS Boilerplate</h2>

    <!-- slider directive -->
    <div myslider>
        <ul class="slider">
            <li class="image-slider">
                <img src="https://unsplash.imgix.net/photo-1426200830301-372615e4ac54?fit=crop&fm=jpg&h=725&q=75&w=1050" alt="Image">
            </li>
            <li class="image-slider">
                <img src="https://unsplash.imgix.net/photo-1421977870504-378093748ae6?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </li>
            <li class="image-slider">
                <img src="https://ununsplash.imgix.net/photo-1421757295538-9c80958e75b0?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </li>
            <li class="image-slider">
                <img src="https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </li>
            <li class="image-slider">
                <img src="https://download.unsplash.com/photo-1415871989540-61fe9268d3c8" alt="Image">
            </li>
        </ul>
    </div>

    <h3>Features</h3>
    <div class="container cf">
        <div>
            <ul>
                <li>* SASS support including sourceMaps</li>
                <li>* Minimal CSS styling of the view</li>
                <li>* Gulp watch, build and local server tasks</li>
                <li>* Responsive navigation</li>
                <li>* Owl slider directive</li>
                <li>* Responsive navigation</li>
                <li>* localStorage service for set, get, remove data</li>
                <li>* queryService $http wrapper to handle calls</li>
                <li>* clear folder structure</li>
                <li>* less than 10 request in build version</li>
                <li>* minified CSS and JS build files</li>
                <li>* google analytics snippet</li>
            </ul>
        </div>
    </div>

    <div class="text-center">
        <small>Images courtesy of <a target="_blank" href="http://unsplash.com">unsplash.com</a></small>
    </div>
    <div>
       <h2>Download</h2>

       <code>bower install angularjs-boilerplate</code><br>
       or<br>
       <code>git clone https://github.com/jbutko/AngularJS-Boilerplate.git</code><br>

       <h2>1. Setup</h2>
       <code>npm install</code><br>
       - install all npm and bower dependencies<br>
       <small><strong>Note:</strong> If npm install fails during dependency installation it will be likely caused by gulp-imagemin. In that case remove gulp-imagemin dependency from package.json, run npm install again and then install gulp-imagemin separately with following command: npm install gulp-imagemin --save-dev</small>

       <h2>2. Watch files</h2>
       <code>gulp</code><br>
       - all SCSS/HTML will be watched for changes and injected into browser thanks to BrowserSync

       <h2>3. Build production version</h2>
       <code>gulp build</code><br>
       - this will process following tasks:<br>
       * clean _build folder<br>
       * compile SASS files, minify and uncss compiled css<br>
       * copy and optimize images<br>
       * minify and copy all HTML files into $templateCache<br>
       * build index.html<br>
       * minify and copy all JS files<br>
       * copy fonts<br>
       * show build folder size<br>

       <h2>4. Start webserver without watch task</h2>
       <code>gulp server</code>

       <h2>5. Start webserver from build folder</h2>
       <code>gulp server-build</code>
    </div>
</div>
