<section class="grid-container">
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h1>Typography</h1>
			<h2>Our Font Families</h2>
			<p>The healthdirect typography is authoritative, approachable and legible. The selected typefaces should be the only typefaces used within all marketing and brand communications.</p>
			<p><strong>Open Sans</strong> is healthdirect’s online typeface and should be used exclusively throughout all online applications.</p>
		</div>
	</div>
</section>
<section class="grid-container">
	<div class="grid-row">
		<h3 class="grid-mobile_col-12">Open Sans</h3>
	</div>
	<div class="grid-row font-gallery_open-sans-light">
		<div class="font-gallery_character">Aa</div>
		<div class="font-gallery_font">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
			abcdefghijklmnopqrstuvwxyz<br>
			1234567890(,.;:?!$&*)
		</div>
		<div class="font-gallery_details"><strong>Open Sans Light</strong><br>
			Weight: <strong>300</strong><br>
			Style: <strong>normal</strong>
		</div>
	</div>
	<div class="grid-row font-gallery_open-sans-normal">
		<div class="font-gallery_character">Aa</div>
		<div class="font-gallery_font">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
			abcdefghijklmnopqrstuvwxyz<br>
			1234567890(,.;:?!$&*)
		</div>
		<div class="font-gallery_details"><strong>Open Sans Normal</strong><br>
			Weight: <strong>400</strong><br>
			Style: <strong>normal</strong>
		</div>
	</div>
	<div class="grid-row font-gallery_open-sans-bold">
		<div class="font-gallery_character">Aa</div>
		<div class="font-gallery_font">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
			abcdefghijklmnopqrstuvwxyz<br>
			1234567890(,.;:?!$&*)
		</div>
		<div class="font-gallery_details"><strong>Open Sans Bold</strong><br>
			Weight: <strong>600</strong><br>
			Style: <strong>normal</strong>
		</div>
	</div>
	<div class="grid-row">
		<div class="grid-mobile_col-12">
			<h3>Usage</h3>
			<table class="code-editor">
				<tr>
					<th class="header" colspan="2">Sass</th>
				</tr>
				<tr>
					<td class="code-editor_lines">1</td>
					<td class="code-editor_code">@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);</td>
				</tr>
			</table>
		</div>
	</div>
</section>
<section class="grid-container">
	<div class="grid-row">
		<h2 class="grid-mobile_col-12">Styles</h2>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Hero Title</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>3.5</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h1 class="hero-title">Hero Title</h1>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 1</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>2.5</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h1>Heading 1</h1>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 2</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>2</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h2>Heading 2</h2>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 3</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>1.75</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h3>Heading 3</h3>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 4</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>1.5</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h4>Heading 4</h4>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 5</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>1.25</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h5>Heading 5</h5>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Heading 6</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>normal</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>1</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<h6>Heading 6</h6>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>
	<div class="style-spec">
		<div class="style-spec_data">
			<h5>Body</h5>
			<p>Font: <strong>Open Sans</strong><br>
			Weight: <strong>light</strong><br>
			Style: <strong>normal</strong><br>
			Size: <strong>14px</strong><br>
			Line Height: <strong>1.15</strong><br>
			Text Colour: <strong></strong><br>
			Background: <strong></strong></p>
		</div>
		<div class="style-spec_preview">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend, sem nec pretium aliquet, ligula purus dignissim justo, at sagittis ligula nisi vel purus. Nulla ut erat at arcu tempor imperdiet.</p>
		</div>
		<div class="style-spec_options">
			<fieldset>
				<legend>Colour Combos</legend>
				<label class="colour-combo_1"><input type="radio"> <span class="colour-combo_text"></span><span class="colour-combo_background"></span></label>
			</fieldset>
		</div>
	</div>

</section>
