main-nav{
	@extend .side-nav;
}
.side-nav{
	z-index: $zindex-navbar-fixed;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $gray-dark;
    transition: all 0.5s ease;
}
.main-section{
	@extend .grid-container;
	width: 100%;
    padding: 15px;
}
.nav__on{
	.side-nav{
		width: 250px;
	}
	.main-section{
		margin-left: 250px;
	}
}
.main-nav_toggle{
	position: fixed;
	z-index: $zindex-navbar-fixed;
}
	.main-nav_toggle-icon{
		@extend .hda-icon-menu;
	}
