/* Main Navigation */
main-nav{
	@extend .side-nav;
}
.main-wrapper{
	transition: all 0.5s ease;
}
.side-nav{
	z-index: $zindex-navbar-fixed;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $grey-darkest;
    transition: all 0.5s ease;
}
	.main-nav{
		position: absolute;
		top: 0;
		width: 250px;
		margin: 0;
		padding-top: 60px;
		color: #fff;
		h4{
			padding: 0 20px;
			color: #fff;
		}
		ul{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 30px;
		}
		a{
			color: #fff;
			display: block;
			padding: 10px 30px;
			&:hover{
				text-decoration: none;
				background-color: $grey;
			}
		}
	}
.main-section{
	width: 100%;
	padding-top: 40px;
}
.nav__on{
	&.main-wrapper{
		padding-left: 250px;
	}
	.main-nav_toggle{
		color: #fff;
	}
	.side-nav{
		width: 250px;
	}
	.main-section{
		//margin-left: 250px;
	}
}
.main-nav_toggle{
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: $zindex-navbar-fixed;
	background: none;
	border: none;
	color: #000;
}
	.main-nav_toggle-icon{
		@extend .#{$icon-prefix}-menu;
	}


/* Colours Page
*****************************************/
.palette-card{
	@extend .grid-mobile_col-2;
	text-align: center;
	padding: 0;
	width: 20%;
	dl{
		color: $grey-dark;
		dt{
			display: none;
		}
	}
}
.palette-item{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.palette-teal-deep{
	@extend .palette-item;
	background-color: $hda-teal-deep;
}
.palette-red{
	@extend .palette-item;
	background-color: $hda-red;
}
.palette-orange{
	@extend .palette-item;
	background-color: $hda-orange;
}
.palette-yellow{
	@extend .palette-item;
	background-color: $hda-yellow;
}
.palette-green{
	@extend .palette-item;
	background-color: $hda-green;
}
table{
	width: 100%;
	margin-bottom: 3.5rem;
	thead > tr > th{
		border-bottom: 2px solid $grey-lighter;
		padding: 8px;
		padding-top: 0;
	}
	tbody > tr{
		&:last-child > td{
			border: none;
		}
		> td{
			border-bottom: 1px solid $grey-lighter;
			padding: 8px;
		}
	}
}
.palette-combo_teal-deep{
	color: #fff;
	background-color: $hda-teal-deep;
}
.palette-combo_teal-grey{
	color: #fff;
	background-color: $teal-grey;
}
.palette-combo_teal-grey-light{
	color: #fff;
	background-color: $teal-grey-light;
}
.palette-combo_teal-grey-lighter{
	color: $hda-teal-deep;
	background-color: $teal-grey-lighter;
}
.palette-combo_teal-grey-lightest{
	color: $hda-teal-deep;
	background-color: $teal-grey-lightest;
}

.palette-combo_grey-darkest{
	color: #fff;
	background-color: $grey-darkest;
}
.palette-combo_grey-darker{
	color: #fff;
	background-color: $grey-darker;
}
.palette-combo_grey-dark{
	color: #fff;
	background-color: $grey-dark;
}
.palette-combo_grey{
	color: #fff;
	background-color: $grey;
}
.palette-combo_grey-light{
	color: $grey-darker;
	background-color: $grey-light;
}
.palette-combo_grey-lighter{
	color: $grey-darker;
	background-color: $grey-lighter;
}
.palette-combo_grey-lightest{
	color: $grey-darker;
	background-color: $grey-lightest;
}

.palette-combo_peter-river{
	color: #fff;
	background-color: $peter-river;
}
.palette-combo_belize-hole{
	color: #fff;
	background-color: $belize-hole;
}
.palette-combo_turquoise{
	color: #fff;
	background-color: $turquoise;
}
.palette-combo_green-sea{
	color: #fff;
	background-color: $green-sea;
}
.palette-combo_emerald{
	color: #fff;
	background-color: $emerald;
}
.palette-combo_nephritis{
	color: #fff;
	background-color: $nephritis;
}
.palette-combo_sun-flower{
	color: #fff;
	background-color: $sun-flower;
}
.palette-combo_carrot{
	color: #fff;
	background-color: $carrot;
}
.palette-combo_alizarin{
	color: #fff;
	background-color: $alizarin;
}
.palette-combo_amethyst{
	color: #fff;
	background-color: $amethyst;
}
.palette-combo_orange{
	color: #fff;
	background-color: $orange;
}
.palette-combo_pumpkin{
	color: #fff;
	background-color: $pumpkin;
}
.palette-combo_pomegranate{
	color: #fff;
	background-color: $pomegranate;
}
.palette-combo_wisteria{
	color: #fff;
	background-color: $wisteria;
}
.palette-combo_clouds{
	color: $grey-darker;
	background-color: $clouds;
}
.palette-combo_silver{
	color: $grey-darker;
	background-color: $silver;
}
.palette-combo_concrete{
	color: #fff;
	background-color: $concrete;
}
.palette-combo_asbestos{
	color: #fff;
	background-color: $asbestos;
}
.palette-combo_wet-asphalt{
	color: #fff;
	background-color: $wet-asphalt;
}
.palette-combo_midnight-blue{
	color: #fff;
	background-color: $midnight-blue;
}

.color-bar{
	height: 60px;
	display: inline-block;
}
.color-bar_deep-teal{
	@extend .color-bar;
	width: 50%;
	background-color: $hda-teal-deep;
}
.color-bar_red{
	@extend .color-bar;
	width: 30%;
	background-color: $hda-red;
}
.color-bar_orange{
	@extend .color-bar;
	width: 10%;
	background-color: $hda-orange;
}
.color-bar_yellow{
	@extend .color-bar;
	background-color: $hda-yellow;
	width: 10%;
}

.color-bar_deep-teal_fus{
	@extend .color-bar_deep-teal;
}
.color-bar_red_fus{
	@extend .color-bar_red;
	width: 5%;
}
.color-bar_orange_fus{
	@extend .color-bar_orange;
}
.color-bar_yellow_fus{
	@extend .color-bar_yellow;
	width: 35%;
}


/* Typography Page
*****************************************/
.font-gallery_open-sans-light{
	font-family: 'Open Sans';
	font-weight: 300;
	margin-bottom: 30px;
}
.font-gallery_open-sans-normal{
	font-family: 'Open Sans';
	font-weight: 400;
	margin-bottom: 30px;
}
.font-gallery_open-sans-bold{
	font-family: 'Open Sans';
	font-weight: 600;
	margin-bottom: 30px;
}

.font-gallery_character{
	@extend .grid-mobile_col-2;
	font-size: 6rem;
	margin-top: -1.7rem;
}
.font-gallery_font{
	@extend .grid-mobile_col-7;
	font-size: 1.2rem;
	padding-left: 2rem;
}
.font-gallery_details{
	@extend .grid-mobile_col-3;
	font-family: 'Open Sans';
	font-weight: $font-weight-root;
	border-left: 1px solid $grey-light;
	padding-left: 2rem;
	strong{
		font-weight: $font-weight-strong;
	}
}

.code-editor{
	border-radius: 3px;
	border: 1px solid #ddd;
	.header{
		padding: 8px 10px;
		background: $grey-lightest;
		border-bottom: 1px solid $grey-light;
	}
	.code-editor_lines{
		padding: 8px 10px;
		border-right: 1px solid $grey-light;
		background: $grey-lightest;
		height: 100%;
		vertical-align: top;
		width: 1rem;
		text-align: center;
	}
	.code-editor_code{
		font-family: Consolas, 'courier new';
		word-break: break-all;
		word-wrap: break-word;
	}
}

.style-spec{
	@extend .grid-row;
	margin-bottom: 30px;
}
	.style-spec_data{
		@extend .grid-mobile_col-3;
	}
	.style-spec_preview{
		@extend .grid-mobile_col-6;
		border: 1px solid $grey-lighter;
		padding: 10px;
		min-height: 180px;
	}
	.style-spec_options{
		@extend .grid-mobile_col-3;
		legend{
			font-size: 1rem;
		}
	}
		label[class^="colour-combo"] span{
			display: inline-block;
			height: 20px;
			width: 20px;
			vertical-align: middle;
		}
		.colour-combo_1{
			.colour-combo_text{
				background: white;
				border: 1px solid $grey-light;
			}
			.colour-combo_background{
				background: $hda-teal-deep;
			}
		}


/* Icons Page
*****************************************/
.icon-library_tile{
	@extend .grid-mobile_col-4;
	position: relative;
	padding-left: 3.5rem;
	margin-bottom: 20px;
	padding-right: 0;
	i{
		@extend .#{$icon-prefix}__fixed-width;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 24px;
		width: 3.5rem;
	}
	a i{
		position: static;
		width: 1em;
	}
	strong{
		display: block;
	}
}
.download-info{
	@extend .grid-row;
	background: $grey-lightest;
	margin-bottom: 20px;
}
	.download-info_tile{
		@extend .icon-library_tile;
		background: $grey-lightest;
		border-right: 2px solid white;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		i{
			font-size: 1rem;
			top: 25px;
		}
	}
.icon-stack_example{
	@extend .#{$icon-prefix}-stack;
	.icon-stack_icon1{
		@extend .#{$icon-prefix}-circle;
		@extend .#{$icon-prefix}-stack-2x;
	}
	.icon-stack_icon2{
		@extend .#{$icon-prefix}-tick;
		@extend .#{$icon-prefix}-stack-1x;
		color: white;
	}
}
.fw-list-group{
	.fw-list-group-item{
		position: relative;
	    display: block;
	    padding: 10px 15px;
	    margin-bottom: -1px;
	    background-color: #ffffff;
	    border: 1px solid $grey-light;
		&:hover{
			text-decoration: none;
			background-color: $grey-lightest;
		}
		i{
			@extend .#{$icon-prefix}__fixed-width;
		}
	}
}
.loading-spinner{
	@extend .#{$icon-prefix}-spinner;
	@extend .#{$icon-prefix}-is-spin;
	font-size: 2rem;
}
.loading-spinner__pulse{
	@extend .#{$icon-prefix}-spinner;
	@extend .#{$icon-prefix}-is-pulse;
	font-size: 2rem;
}
