/* Main Navigation */
main-nav{
	@extend .side-nav;
}
.main-wrapper{
	transition: all 0.5s ease;
}
.side-nav{
	z-index: $zindex-navbar-fixed;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $gray-dark;
    transition: all 0.5s ease;
}
	.main-nav{
		position: absolute;
		top: 0;
		width: 250px;
		margin: 0;
		padding-top: 60px;
		color: #fff;
		h4{
			padding: 0 20px;
		}
		ul{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 30px;
		}
		a{
			color: #fff;
			display: block;
			padding: 10px 30px;
			&:hover{
				text-decoration: none;
				background-color: $gray;
			}
		}
	}
.main-section{
	width: 100%;
	padding-top: 40px;
}
.nav__on{
	&.main-wrapper{
		padding-left: 250px;
	}
	.main-nav_toggle{
		color: #fff;
	}
	.side-nav{
		width: 250px;
	}
	.main-section{
		//margin-left: 250px;
	}
}
.main-nav_toggle{
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: $zindex-navbar-fixed;
	background: none;
	border: none;
	color: #000;
}
	.main-nav_toggle-icon{
		@extend .hda-icon-menu;
	}
