// HDA Colors
//
// Brand specific colours
$hda-teal-deep:				#1e4759;
$hda-red:					#dc5556;
$hda-orange:				#f2896f;
$hda-yellow:				#f5b672;
$hda-green:					#009f96;

$teal-grey:				#577581;
$teal-grey-light:		#79919b;
//$teal-grey-lgiht2:		#a5b5bd;
$teal-grey-lighter:		#d2dadd;
$teal-grey-lightest:	#e8ecee;

$grey-lightest:		#f7f7f7;
$grey-lighter:		#eaeaea;
$grey-light:		#dadada;
$grey:				#bfbfbf;
$grey-dark:			#999;
$grey-darker:		#666;
$grey-darkest:		#333;
//$grey-darkest2:	#1a1a1a;

$peter-river:		#3498db;
$turquoise:			#1abc9c;
$emerald:			#2ecc71;
$sun-flower:		#f1c40f;
$carrot:			#e67e22;
$alizarin:			#e74c3c;
$amethyst:			#9b59b6;

$belize-hole:		#2980b9;
$green-sea:			#16a085;
$nephritis:			#27ae60;
$orange:			#f39c12;
$pumpkin:			#d35400;
$pomegranate:		#c0392b;
$wisteria:			#8e44ad;

$clouds:			#ecf0f1;
$silver:			#bdc3c7;
$concrete:			#95a5a6;
$asbestos:			#7f8c8d;
$wet-asphalt:		#34495e;
$midnight-blue:		#2c3e50;

// Colors
//
//
$brand-primary:             $hda-teal-deep;
$brand-secondary:			$hda-yellow;
$brand-accent:				$hda-green;

$brand-success:             $hda-green;
$brand-info:                #5bc0de !default;
$brand-warning:             $hda-yellow;
$brand-danger:              $hda-red;

$font-heading-color:		$brand-primary;

// Links
//
// Style anchor elements.
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Body
//
$body-bg:    #fff !default;
$body-color: $grey-darkest !default;

// Table
//
$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
