@import "compass/css3";

@include font-face(
	"hda-icons",
	inline-font-files(
		"hda-fus2-icons.woff", woff,
		"hda-fus2-icons.ttf", truetype,
		"hda-fus2-icons.svg", svg)
);

i{
	font-family: "hda-icons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	box-sizing: border-box;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hda-icon-menu:before {
    content: "\f0c9";
}
