@import "compass/css3";

@include font-face(
	"hda-icons",
	inline-font-files(
		"hda-fus2-icons.woff", woff,
		"hda-fus2-icons.ttf", truetype,
		"hda-fus2-icons.svg", svg)
);

i{
	font-family: "hda-icons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	height: 1em;
	width: 1em;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// fixed width ------------------------
.#{$icon-prefix}__fixed-width{
	width: (18em / 14);
	text-align: center;
}

// stacked ------------------------
.#{$icon-prefix}-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.#{$icon-prefix}-stack-1x, .#{$icon-prefix}-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.#{$icon-prefix}-stack-1x { line-height: inherit; }
.#{$icon-prefix}-stack-2x { font-size: 2em; }

// animations ------------------------
.#{$icon-prefix}-is-spin {
	animation: icon-spin 1.5s infinite linear;
}

.#{$icon-prefix}-is-pulse {
	animation: icon-spin 1.5s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
	  transform: rotate(0deg);
  }
  100% {
	  transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
	  transform: rotate(0deg);
  }
  100% {
	  transform: rotate(359deg);
  }
}



// icons ------------------------
.#{$icon-prefix}-location:before {
    content: "\e600";
}
.#{$icon-prefix}-location2:before {
    content: "\e601";
}
.#{$icon-prefix}-printer:before {
    content: "\e602";
}
.#{$icon-prefix}-user:before {
    content: "\e603";
}
.#{$icon-prefix}-search:before {
    content: "\e604";
}
.#{$icon-prefix}-tick:before {
    content: "\e605";
}
.#{$icon-prefix}-cross:before {
    content: "\e606";
}
.#{$icon-prefix}-download:before {
    content: "\e607";
}
.#{$icon-prefix}-circle-cross:before {
    content: "\e608";
}
.#{$icon-prefix}-warning:before {
    content: "\e609";
}
.#{$icon-prefix}-twitter:before {
    content: "\e60a";
}
.#{$icon-prefix}-facebook:before {
    content: "\e60b";
}
.#{$icon-prefix}-google-plus:before {
    content: "\e60c";
}
.#{$icon-prefix}-pinterest:before {
    content: "\e60d";
}
.#{$icon-prefix}-square:before {
    content: "\e60e";
}
.#{$icon-prefix}-square-check:before {
    content: "\e60f";
}
.#{$icon-prefix}-menu:before {
    content: "\e610";
}
.#{$icon-prefix}-caret-down:before {
    content: "\e611";
}
.#{$icon-prefix}-caret-up:before {
    content: "\e612";
}
.#{$icon-prefix}-caret-left:before {
    content: "\e613";
}
.#{$icon-prefix}-caret-right:before {
    content: "\e614";
}
.#{$icon-prefix}-envelope:before {
    content: "\e615";
}
.#{$icon-prefix}-angle-down:before {
    content: "\e616";
}
.#{$icon-prefix}-angle-up:before {
    content: "\e617";
}
.#{$icon-prefix}-angle-left:before {
    content: "\e618";
}
.#{$icon-prefix}-angle-right:before {
    content: "\e619";
}
.#{$icon-prefix}-desktop:before {
    content: "\e61a";
}
.#{$icon-prefix}-laptop:before {
    content: "\e61b";
}
.#{$icon-prefix}-tablet:before {
    content: "\e61c";
}
.#{$icon-prefix}-mobile:before {
    content: "\e61d";
}
.#{$icon-prefix}-circle:before {
    content: "\e61e";
}
.#{$icon-prefix}-circle-check:before {
    content: "\e61f";
}
.#{$icon-prefix}-thumbs-up:before {
    content: "\e620";
}
.#{$icon-prefix}-thumbs-down:before {
    content: "\e621";
}
.#{$icon-prefix}-arrow-down:before {
    content: "\e622";
}
.#{$icon-prefix}-arrow-up:before {
    content: "\e623";
}
.#{$icon-prefix}-arrow-left:before {
    content: "\e624";
}
.#{$icon-prefix}-arrow-right:before {
    content: "\e625";
}
.#{$icon-prefix}-spinner:before {
    content: "\e626";
}
