.clearfix {
  @include clearfix();
}

// Screenreaders
//
.sr-only {
  @include sr-only();
}
.sr-only-focusable {
  @include sr-only-focusable();
}


// Responsive visibility utilities
@each $bp in map-keys($breakpoints) {
  .hidden-#{$bp}__up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}__down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}

// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.
.visible-print__block {
  display: none !important;
  @media print {
    display: block !important;
  }
}
.visible-print__inline {
  display: none !important;
  @media print {
    display: inline !important;
  }
}
.visible-print__inline-block {
  display: none !important;
  @media print {
    display: inline-block !important;
  }
}
.hidden-print {
  @media print {
    display: none !important;
  }
}
