$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;
$table-border-width:            $border-width !default;
$table-border-color:            $grey-lighter !default;
